<Directory {{ moodle_deploy_destination }}>
  Options -Indexes
  RewriteEngine On

{% for file in moodle_web_protected_files %}
  RewriteCond %{REQUEST_URI} {{ file }}$
  RewriteRule ^.*$ - [R=404]
{% endfor %}

{% for directory in moodle_web_protected_directories %}
  RewriteCond %{REQUEST_URI} ^/{{ moodle_web_path | replace(".", "\.") }}(?:[^/]*/)*/?{{ directory }}
  RewriteRule ^.*$ - [R=404]
{% endfor %}

  <FilesMatch \.php$>
    SetHandler "proxy:unix:/run/php/php{{ php_version }}-fpm.sock|fcgi://localhost/"
  </FilesMatch>
</Directory>
